

p{
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.page_title{
    position: relative;
    text-align: center;
    color: rgb(5, 0, 0);
    padding: 40px;
}


.page_title h1{
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    padding: 30px;
    font-size: 40px;
}

